.burger_constructor {
    display: flex;
    flex-direction: column;

    composes: ml-5 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: pt-25 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

    /*border-style: dotted;*/
    /*border-color: white;*/
    /*border-width: 1px;*/

    width: 100%;
}

.burger_slices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;


}

.slice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.drag_tag {
    width: 20px;
    margin: auto;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    composes: text_type_digits-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: m-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    margin-right: 0;
}

.total > button {
    margin-left: 40px;

}

.order_confirmation_modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.order_confirmation_id {
    composes: text_type_digits-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: mt-15 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    margin-bottom: 0;
}

.order_confirmation_subtitle {
    composes: mt-8 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
}

.order_confirmation_primary_test {
    composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
}

.order_confirmation_secondary_test {
    composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_inactive from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
}
