.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100vh;
  min-height: 100%;
}

.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1240px;
  height: 100%;

  /*border-style: dotted;*/
  /*border-color: white;*/
  /*border-width: 1px;*/

  min-height: 100%;
  justify-content: space-between;
}


