.image {
    composes: mb-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.title {
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    margin: 0;
}

.nutrition_facts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    composes: mt-8 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.nutrition_element {
    display: block;
    width: 100%;
    flex-grow: 1;
    composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_inactive from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.nutrition_element p {
    margin: 16px;
}

.digits {
    composes: text_type_digits-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    margin: 0;
    font-size: 28px;
}
