.burger_ingredients {
    display: flex;
    flex-direction: column;
    composes: mr-5 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

    border-style: dotted;
    border-color: white;
    border-width: 1px;
    width: 100%;

}

.title {
    /*composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';*/
    composes: text_type_main-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_primary from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: mt-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: mb-5 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    text-align: start;
}
