.ingredient_card {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 44%;

    /*border-style: dotted;*/
    /*border-color: white;*/
    /*border-width: 1px;*/

    composes: mr-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: ml-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: mt-6 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

    cursor: pointer;
}

.card_image {
    composes: mr-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: ml-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    object-fit: cover;
}

.card_title {
    width: 100%;
    text-wrap: normal;
    composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
}

.card_price {
    display: inline;
    composes: text_type_digits-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: mr-1 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: ml-1 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.card_price svg {
    width: 22px;
    height: auto;
    vertical-align: bottom;
    margin-left: 4px;
}

.modal_image {
    composes: mb-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.modal_title {
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    margin: 0;
}

.modal_nutrition_facts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    composes: mt-8 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.modal_nutrition_element {
    display: block;
    width: 100%;
    flex-grow: 1;
    composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_color_inactive from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.modal_nutrition_element p {
    margin: 16px;
}

.digits {
    composes: text_type_digits-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    margin: 0;
    font-size: 28px;
}
